# macOS
.DS_Store

# IntelliJ
.idea/
*.iml

# VS Code
.vscode/

# Logs
*.log

# Environment files
.env
.env.local
.env.*.local

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.vite/

# Backend
backend/target/
backend/.mvn/wrapper/maven-wrapper.jar

# Java
*.class

# PostgreSQL / local db files
*.db
*.sqlite

backend/src/main/resources/application.properties